In [11]:
# 리스트 컴프리헨션
# 세트 컴프리헨션
# 딕셔너리 컴프리헨션
li1 = [i + 1 for i in range(10)]
print(li1)

# 리스트에 값을 추가하는 법
# .append() : 맨 뒤에 값을 추가
li1.append(100)
print(li1)

li1.insert(4, 200)
print(li1)

li1.remove(200)
print(li1)

li1.insert(4,200)
li1.insert(8,200)
print(li1)

# 먼저 만나는 값을 삭제
li1.remove(200)
print(li1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100]
[1, 2, 3, 4, 200, 5, 6, 7, 8, 9, 10, 100]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100]
[1, 2, 3, 4, 200, 5, 6, 7, 200, 8, 9, 10, 100]
[1, 2, 3, 4, 5, 6, 7, 200, 8, 9, 10, 100]

In [18]:
# len(): 길이를 확인하는 함수
li2 = [(i + 1) * 10 for i in range(76)]
print(li2)
print(len(li2))

for i in li2:
    print(i)

for i in range(len(li2)):
    print(i)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240, 250, 260, 270, 280, 290, 300, 310, 320, 330, 340, 350, 360, 370, 380, 390, 400, 410, 420, 430, 440, 450, 460, 470, 480, 490, 500, 510, 520, 530, 540, 550, 560, 570, 580, 590, 600, 610, 620, 630, 640, 650, 660, 670, 680, 690, 700, 710, 720, 730, 740, 750, 760]
76
10
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190
200
210
220
230
240
250
260
270
280
290
300
310
320
330
340
350
360
370
380
390
400
410
420
430
440
450
460
470
480
490
500
510
520
530
540
550
560
570
580
590
600
610
620
630
640
650
660
670
680
690
700
710
720
730
740
750
760
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75

In [31]:
li3 = [1, 4, 8, 7, 6, 9, 3, 4, 5]
print(max(li3))
print(min(li3))
print(sum(li3))

li3.sort() # 오름차순
print(li3)
li3.sort(reverse=True) # 내림차순
print(li3)

print(li3.pop())
print(li3.pop(4))
print(li3)

9
1
47
[1, 3, 4, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 4, 3, 1]
1
5
[9, 8, 7, 6, 4, 4, 3]

In [32]:
# 1. 빈 리스트를 생성하고, 1부터 10까지 추가하기
li4 = [1, 2, 3, 4, 5, 6, 7, 8 , 9, 10]
# 리스트 컴프리헨션, 리스트 메서드

li5 = [i + 1 for i in range(10)]

li6 = []

for i in range(10):
    li6.append(i + 1)

print(li4)
print(li5)
print(li6)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [36]:
# 5명의 학생의 점수를 받아서 전체 총합과 평균을 구하기
li7 = []
for i in range(5):
    score = int(input(f'{i + 1}번째 학생의 점수를 입력하세요'))
    li7.append(score)

print(li7)
print('총합 : ', sum(li7))
print('평균 : ', sum(li7) / len(li7))

1번째 학생의 점수를 입력하세요90
2번째 학생의 점수를 입력하세요80
3번째 학생의 점수를 입력하세요70
4번째 학생의 점수를 입력하세요60
5번째 학생의 점수를 입력하세요50
[90, 80, 70, 60, 50]
총합 :  350
평균 :  70.0

In [38]:
# 튜플 메서드
# .count()
name = '홍길동', '김길동', '장독대'
print(name.count(''))
print(name.index('홍길동'))

# .index()
print(name.index('김길동'))

0
0
1

In [45]:
# 세트 메서드
s1 = {'사과', '참외', '멜론', '바나나', '딸기', '사과', '참외'}
s1.add('망고')
print(s1)

# .remove(값): 값을 삭제하는 메서드
s1.remove('바나나')
# s1.remove('바나나') 오류 발생
# s1.discard('바나나') 오류가 발생하지 않음

print(s1)
print(s1.pop())
print(s1.pop())
print(s1.pop())
print(s1.pop())
print(s1)

{'참외', '바나나', '사과', '망고', '딸기', '멜론'}
{'참외', '사과', '망고', '딸기', '멜론'}
참외
사과
망고
딸기
{'멜론'}

In [56]:
# 딕셔너리 메서드
countries = {'korea': '서울', 'japan': '도쿄', 'china': '베이징'}

print(countries.keys())
print(countries.values())
print(countries.items())

for i in countries.items():
    print(i)

print(countries['korea'])
# print(cities['USA']) 오류가 등장함
print('우리나라 수도: ' + countries.get('USA', "없음"))

dict_keys(['korea', 'japan', 'china'])
dict_values(['서울', '도쿄', '베이징'])
dict_items([('korea', '서울'), ('japan', '도쿄'), ('china', '베이징')])
('korea', '서울')
('japan', '도쿄')
('china', '베이징')
서울
우리나라 수도: 없음