#제어문
1. if문
    - 특정 조건의 만족 여부에 따라 실행
    - if, if else, if else else

     - if 조건식1 :
        - 조건식1을 만족하면 실행할 문장
     - elif 조건식2 :
        - 조건식 1을 만족하지 않고,
        - 조건식 2를 만족하면 실행할 문장
     - elif 조건식3 :
        - ...
     - else :
        - 모든 조건식을 만족하지 않을 때 실행할 문장
    
2. while문
    - 특정 조건을 만족하는 동안(true) 반복해서 수행한다
        - while 조건식 :
            반복할 문장

In [ ]:
# 시험
# 90점 이상 A, 80점 이상 B, 70점 이상 C, 70점 미만이면 F학점
grade = "";
score = int(input("점수를 입력하세요 : "))

# depth : 영역
if score >= 90 :
    grade = "A"
elif score >= 80 :
    grade = "B"
elif score >= 70 :
    grade = "C"
else :
    grade = "F"
print(grade)

점수를 입력하세요 : 95
A

In [ ]:
# 실습 1.
# 사용자에게 두개의 정수를 입력 받아서,
# 두 수 중 큰 값을 비교하기
# if~elif~else문 사용
max = 0
num1 = int(input("정수1 : "))
num2 = int(input("정수2 : "))

if num1 > num2 :
    max = num1
elif num1 < num2 :
    max = num2
else :
    max = num1

print(f"큰 값은 {max}입니다.")

정수1 : 10
정수2 : 20
큰 값은 20입니다.

In [ ]:
hangles = "가나다라마바사아자차카타파하"

# for hangle in '가나다라마바사아자차카타파하':
#     print(hangle)

for hangle in hangles :
    print(hangle)

가
나
다
라
마
바
사
아
자
차
카
타
파
하

In [ ]:
food_list = ['치킨', '밥', '보쌈', '무뼈닭발', '햄버거', '떡볶이', '순대']
food_sets = {'치킨', '밥', '보쌈', '무뼈닭발', '햄버거', '떡볶이', '순대'}
sport_dict = {"축구": 11, "농구": 5, "배구": 7, "야구": 9, "배드민턴": 2}

for food in food_list :
    print(food)

print("====================================")

for food in food_sets :
    print(food)

print("====================================")
# 딕셔너리는 key값을 들고온다.
for sport in sport_dict :
    print(sport.upper(), sport_dict[sport])

치킨
밥
보쌈
무뼈닭발
햄버거
떡볶이
순대
====================================
밥
치킨
떡볶이
무뼈닭발
보쌈
햄버거
순대
====================================
축구 11
농구 5
배구 7
야구 9
배드민턴 2

In [ ]:
# 종료값을 포함하지 않는다.
# range(시작값, 종료값, 스탭)
# for i in range(1,100) :
#     print(i)

# 짝수
for i in range(0, 100, 2):
    print(i)

# 홀수
for i in range(1, 100, 2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [ ]:
# 실습 구구단 만들기
# for문 3단
# 출력 예시)
# 3 X 1 = 3
# 3 X 2 = 6

for i in range(1, 10):
    print(f"3 X {i} = {i*3}")

# 구구단 만들기
for i in range(1, 10):
    for j in range(1,10):
        print(f"{i} X {j} = {i*j}")

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [ ]:
# break
for i in range(1, 5):
    print(i)
    if i == 2:
        break

print("탈출!😺")

1
2
탈출!😺

In [ ]:
# continue

for i in range(1, 5):
    if i == 2:
        continue
    print(i)

print("탈출!😺")

1
3
4
탈출!😺

In [ ]:
# pass
for i in range(1, 5):
    pass

print("탈출!😺")

탈출!😺

In [ ]:
# 예제
# 1) 1~100까지 홀수만 출력하기
# for i in range(1, 100, 2):
#     print(i)

# 2) 3~50까지 4씩 증가하는 반복문
for i in range(3, 50, 4):
    print(i)

# 3) food_list 중 '햄버거'만 출력하기
for food in food_list :
    if food == '햄버거':
        print(food)

# 4) food_list의 결과를 "오늘 저녁: ooo" 으로 모든 리스트를 출력하기\
for food in food_list :
    print(f"오늘 저녁: {food}")

# 5) 1~50까지 반복 후 3의 배수만 출력하기
for i in range(1, 50):
    if i % 3 == 0:
        print(i)

# 6) 1~50까지 반복 후 10~20만 출력하기
for i in range(1,51):
    if i == 10 or i == 20 :
        print(i)

3
7
11
15
19
23
27
31
35
39
43
47
햄버거
오늘 저녁: 치킨
오늘 저녁: 밥
오늘 저녁: 보쌈
오늘 저녁: 무뼈닭발
오늘 저녁: 햄버거
오늘 저녁: 떡볶이
오늘 저녁: 순대
3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
10
20

In [ ]:
print('a', end='')
print('b', end='')
print()
# 이중 for문
# 별 찍기 문제
#     *
#    ***
#   *****
#  *******
# *********

for i in range(1, 6):
    for j in range(5 - i, 0, -1):
        print(' ', end='')
    for j in range(1, 2*i):
        print('*', end='')
    print()

for i in range(1, 6):
    print(' '*(5-i) + '*'*(2*i-1))

ab
    *
   ***
  *****
 *******
*********
    *
   ***
  *****
 *******
*********